@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.final-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    font-family: "Lexend Deca", sans-serif;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    max-width: 100%;
    margin-block-end: 16px;
    margin-bottom: 16px;
    overflow-wrap: break-word;
    color: rgb(25, 27, 51);
}

p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-block-end: 16px;
    margin-bottom: 16px;
    max-width: 100%;
    color: rgba(25, 27, 51, 0.7);

}

.social-media {
    display: flex;
    justify-content: center;
    gap: 14px;
}